<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27276774-35', 'auto');
  ga('send', 'pageview');

</script>

<script>
((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
pageName: 'hc:projects:news:fake-phd:dataproject.',
channel: 'projects',
server: 'projects.courant.com',
hier1: 'courant:projects',
hier2: 'projects',
prop1: 'D=pageName',
prop2: 'projects',
prop38: 'dataproject',
prop57: 'D=c38',
eVar20: 'courant',
eVar21: 'D=c38',
eVar34: 'D=ch',
eVar35: 'D=pageName',
events:''
});  
</script>