		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<p class="copyright">Copyright &copy; <script>var d = new Date(); document.write(d.getFullYear());</script>, <a href="http://www.courant.com">Hartford Courant Media Group</a></p>
					</div>
					<div class="col-xs-12 col-md-6">
						<p class="register"><span class="make-green glyphicon glyphicon-arrow-right"></span> To request access to Sandbox contact <a href="mailto:admin@projects.courant.com">admin@projects.courant.com.</a></p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>