<!-- JS Goes Down Here-->
<script src="http://www.courant.com/thirdpartyservice?disablenav=false&disablessor=true&disablemetaviewport" async></script>
<!-- Go to www.addthis.com/dashboard to customize your tools 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5515b78007793204" async="async"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/viewportsize.js"></script>
<script src="js/skrollr.min.js"></script>
<!--<script src="js/enquire.min.js"></script>-->
<script src="js/isMobile.min.js"></script>
<script src="js/main.js"></script>